# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
.pnpm-store
.tools
node_modules/
scripts/

# lockfiles
package-lock.json
pnpm-lock.yaml
**/pnpm-lock.yaml